header {background-color: teal;
  width: 960px;
  height:300px;
}


main{
  background-color: pink;
  width: 920px;
  height: auto;
  padding: 20px 20px 20px 20px;
  margin: 0px;

border-width: 10px 10px 10px 10px;
border-style: dashed;
border-color: purple
}
footer{
  background-color: green;
  width: 960px;
  height: 50px;
}
nav{background-color: lightblue;
width: 400px;
margin: 0 auto;
}

nav ul{

}

nav ul li{
list-style: none;
display: inline-block;
margin-right: 20px;
padding: 5px
}

nav ul li a{
color: white;
text-decoration: none;
}

nav ul li:hover{
  background-color: grey
}

#grid1{
  width: 800px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 390px 390px;
  grid-column-gap: 20px;
}
#grid2{
  width: 800px;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 390px 390px;
  grid-column-gap: 20px;
}
#grid2 img {
  width: 300px;
  margin: 0 auto;
  display: block;
}
#grid3{
  width: 800px;
  height: auto;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px
}
#grid3 img {
  width: 500px;
  margin: 0 auto;
  display: block;
}
